<%- include('includes/head.ejs') %>
	</head>

	<body>
		<%- include('includes/navigation.ejs') %>
			<main>
				<div class="hom-body-section">
					<div class="container">
						<div class="row">
							<div class="page-head">
								<h2>Booking Confirmed</h2>
								<div class="head-title">
									<div class="hl-1"></div>
									<div class="hl-2"></div>
									<div class="hl-3"></div>
								</div>
								<p class="content">
									We are pleased to inform you that your restaurant reservation request has been
									received and confirmed.
									<br><br>
									<img src="/images/logo1.png">
									<br>
									Your booking is confirmed. Thank You!
								</p>
							</div>
						</div>

						<% if (confirmationData) { %>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Booking ID</th>
										<th>Full Name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Number of Guests</th>
										<th>Date</th>
										<th>Time</th>
										<th>Table Type</th>
										<th>Special Requests</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<%= confirmationData.booking_id %>
										</td>
										<td>
											<%= confirmationData.first_name %>
												<%= confirmationData.last_name %>
										</td>
										<td>
											<%= confirmationData.email %>
										</td>
										<td>
											<%= confirmationData.phone %>
										</td>
										<td>
											<%= confirmationData.number_of_guests %>
										</td>
										<td>
											<%= confirmationData.date.toLocaleDateString() %>
										</td>
										<td>
											<%= confirmationData.time %>
										</td>
										<td>
											<%= confirmationData.table_type %>
										</td>
										<td>
											<%= confirmationData.special_requests || 'None' %>
										</td>
										<td>
											<%= confirmationData.status %>
										</td>
									</tr>
								</tbody>
							</table>
							<% } else { %>
								<h3>No Booking Data!</h3>
								<% } %>
					</div>
				</div>
			</main>
			<%- include('includes/end.ejs') %>